@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel

@{ ViewBag.title = "Configurar modo de operación-Factor"; }

@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control input-general" } };}

<div class="page-content radian-view margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("UploadFactorOperationMode", "RadianApprovedController", FormMethod.Post, new { id = "radian-contributors-form" }))
                        {
                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">
                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian">
                                        <div class="panel-body padding-20 padding-bottom-0">

                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.RadianApprovedOperationModeViewModel.OperationModeSelected, new { @class = "control-label" })
                                                        @Html.DropDownListFor(m => m.RadianApprovedOperationModeViewModel.OperationModeSelected, new SelectList(Model.OperationModeList, "Id", "Name", Model.RadianApprovedOperationModeViewModel.OperationModeSelected), new { @class = "form-control selectpicker", disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.Label("Url de recepción de eventos", new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Software.Url, new { @class = "form-control input-general", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h4 class="panel-title-radian padding-0"><strong>Datos de la Empresa y Software</strong></h4>
                                                <hr class="margin-5" />

                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.Label("Nombre de la empresa proveedora", new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Software.CreatedBy, new { @class = "form-control input-general", disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.RadianApprovedOperationModeViewModel.SoftwareName, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.RadianApprovedOperationModeViewModel.SoftwareName, defaultHtmlAttr)
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.RadianApprovedOperationModeViewModel.SoftwarePin, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.RadianApprovedOperationModeViewModel.SoftwarePin, defaultHtmlAttr)
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.Label("ID del Software", new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Software.Id, new { @class = "form-control input-general", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer-grey text-right">
                                            <button name="Submit" class="btn btn-radian-success" id="view-operation-mode">Adicionar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title-radian padding-0"><strong>Listado de modos de operación asociados</strong></h4>
                                <hr class="margin-5" />
                                @*<h3 class="panel-title">Listado de modos de operación asociados</h3>*@
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                                        <thead>
                                            <tr>
                                                <th>Modo de Operación</th>
                                                <th>Registro</th>
                                                <th>Estado</th>
                                                <th>Software</th>
                                                <th>ID</th>
                                                <th>PIN</th>
                                                <th>URL</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var RadianContributor in Model.)
                                                {
                                                    //var textClass = DataUtils.GetProviderStatusStyle(RadianContributor.AcceptanceStatusId);
                                                    //var isClickableRow = User.IsInAnyRole("Administrador", "Super") ? "clickable-row" : "";
                                                    //var urlView = User.IsInAnyRole("Administrador", "Super") ? Url.Action("ViewDetails", "Radian", new { id = RadianContributor.Id }) : "";
                                                    <tr class='@isClickableRow' data-href="@urlView">
                                                        <td class="smallText iffyTip"><a>@RadianContributor.Code</a></td>
                                                        <td class="largeText iffyTip"><a>@RadianContributor.BusinessName</a></td>
                                                        <td class="largeText iffyTip"><a>@RadianContributor.TradeName</a></td>
                                                        <td class="largeText iffyTip">
                                                            <a><i class="fa fa-circle @textClass"></i>&nbsp;@RadianContributor.AcceptanceStatusName</a>
                                                        </td>
                                                    </tr>
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

@*@section Scripts
    {

        <script>
            $(document).ready(function () {
                var form = $('#radian-contributors-form');
                $('#DateInterval').daterangepicker({
                    locale: {
                        applyLabel: "Aplicar",
                        cancelLabel: "Cancelar",
                        format: 'DD-MMMM-yyyy',
                        monthNames: [
                            "Enero",
                            "Febrero",
                            "Marzo",
                            "Abril",
                            "Mayo",
                            "Junio",
                            "Julio",
                            "Agosto",
                            "Septiembre",
                            "Octubre",
                            "Noviembre",
                            "Diciembre"
                        ],
                        separator: " al ",
                    }

                });


                 $("#Code").focus();

                if (@Model.RadianContributors.Count == 0) {
                    $('.table-responsive').css('display', 'none');
                }

                $('.btn-search').click(function () {
                    var dateRange = $("#DateInterval").val();
                    $('#StartDate').val(dateRange.split("al")[0]);
                    $('#EndDate').val(dateRange.split("al")[1]);
                    $('#Page').val(0);

                    $('#Type').val($("#RadianType").val());
                    showLoading('#panel-form', 'Cargando', 'Buscando datos, por favor espere.');
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                    $('.table-pagination').css('display', 'none');
                    $('.table-responsive').css('display', 'none');
                    form.submit();
                });

                //Pagination
                $(".next-page").click(function () {
                    $("#Page").val(@Model.Page + 1);
                    form.submit();
                })

                $(".prev-page").click(function () {
                    $("#Page").val(@Model.Page - 1);
                    form.submit();
                })

            })

            //$(document).on('mouseenter', ".iffyTip", function () {
            //    var $this = $(this);
            //    if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            //        $this.tooltip({
            //            title: $this.text(),
            //            placement: "bottom",
            //            container: "body"
            //        });
            //        $this.tooltip('show');
            //    }
            //});
        </script>*@

