@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedOperationModeViewModel

@{ 
    ViewBag.title = "Configurar modo de operación";
    string operationMode = Request.Params["RadianOperationMode"];
    var classMarginTop = operationMode == "2" ? "margin-top-50" : "";
}

<div class="page-content radian-view margin-20">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
        @if (operationMode != "2" || Model.Contributor.RadianState == "Habilitado")
        {
            <div class="back-button"><a href="javascript:history.back()"><i class="fa fa-chevron-left"></i> Volver</a></div>
        }

    </div>
    <div class="@classMarginTop">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("UploadFactorOperationMode", "RadianApproved", FormMethod.Post, new { id = "radian-contributors-form" }))
                        {
                            @Html.HiddenFor(m => m.Contributor.Id)
                            @Html.HiddenFor(m => m.SoftwareUrl)
                            @Html.HiddenFor(m => m.SoftwareId)

                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">
                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian">
                                        <div class="panel-body padding-20 padding-bottom-0">

                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.OperationModeSelectedId, new { @class = "control-label" })
                                                        @Html.DropDownListFor(m => m.OperationModeSelectedId, Model.OperationModes, " ", new { @class = "form-control selectpicker input-general" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.Label("Url de recepción de eventos", new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Software.Url, new { @class = "form-control input-general", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h4 class="panel-title-radian padding-0"><strong>Datos de la Empresa y Software</strong></h4>
                                                <hr class="margin-5" />

                                                @if (operationMode == "2")
                                                {
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.Label("Nombre de la empresa proveedora", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => Model.CustomerName, new { @class = "form-control  input-general" })
                                                            @Html.HiddenFor(model => Model.CustomerID)
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.SoftwareName, new { @class = "control-label" })
                                                            <select id="SoftwareNameList" class="form-control input-general"></select>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.Label("Nombre de la empresa proveedora", new { @class = "control-label" })
                                                            @Html.TextBoxFor(m => m.Software.CreatedBy, new { @class = "form-control input-general", disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.SoftwareName, new { @class = "control-label" })
                                                            @Html.TextBoxFor(m => m.SoftwareName, new { @id = "SoftwareName", @name = "SoftwareName", @class = "form-control input-general", @style = "background: #ffffff;" })
                                                            @Html.ValidationMessageFor(m => m.SoftwareName, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.SoftwarePin, new { @class = "control-label" })
                                                            @Html.TextBoxFor(m => m.SoftwarePin, new { @id = "SoftwarePin", @name = "SoftwarePin", @class = "form-control input-general", @style = "background: #ffffff;" })
                                                            @Html.ValidationMessageFor(m => m.SoftwarePin, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.Label("ID del Software", new { @class = "control-label" })
                                                            @Html.TextBox("SoftwareId", Guid.NewGuid().ToString(), new { @class = "form-control input-general", disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="panel-footer-grey text-right">
                                            <button name="Submit" id="save-operation-mode" class="btn btn-radian-success" type="submit">Adicionar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                        <div id="table-modes" data-target="#table-modes" data-toggle="panel-overlay" class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title-radian padding-0"><strong>Listado de modos de operación asociados</strong></h4>
                                <hr class="margin-5" />
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                                        <thead>
                                            <tr>
                                                <th>Modo de Operación</th>
                                                <th>Registro</th>
                                                <th>Estado</th>
                                                <th>Software</th>
                                                <th>ID</th>
                                                <th>PIN</th>
                                                <th>URL</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var oper in Model.RadianContributorOperations.RadianContributorOperations)
                                            {
                                                <tr>
                                                    <td class="smallText iffyTip">Se quito debe arreglarse</td>
                                                    <td class="smallText iffyTip">@oper.Timestamp.ToString("dd/MM/yyy")</td>
                                                    <td class="largeText iffyTip">
                                                        @{
                                                            if (oper.Software.Status)
                                                            {
                                                                <p>Aceptado</p>
                                                            }
                                                            else
                                                            {
                                                                if (oper.Software.Deleted)
                                                                {
                                                                    <p>Rechazado</p>
                                                                }
                                                                else
                                                                {
                                                                    <p>En proceso</p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="largeText iffyTip">arreglar</td>
                                                    <td class="largeText iffyTip">@oper.Software.Id</td>
                                                    <td class="largeText iffyTip">@oper.Software.Pin</td>
                                                    <td class="largeText iffyTip">@oper.Software.Url</td>
                                                    <td id="delete-software" data-id="@oper.Id" class="largeText iffyTip pointer delete-software"><span><i title="Eliminar" class="fa fa-trash fa-1" style="font-size: 22px;color: #348441;"></i></span></td>
                                                    <td id="set-test" data-id="@oper.Id" class="largeText iffyTip pointer"><a href="@Url.Action("ViewTestSet","RadianApproved", new { id = Model.Contributor.Id, radianTypeId = Model.Contributor.RadianContributorTypeId})"><span><i title="Set de pruebas" class="fa fa-eye" style="font-size: 22px;color: #348441;"></i></span></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>