@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@{
    ViewBag.Title = "Datos";
}

<div class="container">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                @Html.LabelFor(m => m.Nit, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Nit, new { @class = "form-control contributorFileType-props" })
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control contributorFileType-props" })
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                @Html.LabelFor(m => m.BusinessName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control contributorFileType-props" })
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control contributorFileType-props" })
            </div>
        </div>
    </div>
</div>
