@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@using Newtonsoft.Json
@{
    ViewBag.title = "";
    var operationMode = Request.Params["RadianOperationMode"];
    switch (Request.Params["RadianContributorType"])
    {
        case "1":
            ViewBag.Title = "Facturador Electrónico";
            break;
        case "2":
            ViewBag.Title = "Proveedor Tecnológico";
            break;
        case "3":
            ViewBag.Title = "Sistema de negociación";
            break;
        case "4":
            ViewBag.Title = "Factor";
            break;
    }
}
<div class="page-content radian-view margin-20">
    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0 margin-top-50">
        <div class="panel" data-target="#panel-form" data-toggle="panel-overlay">
            <div class="panel-body padding-top-20">
                @if (operationMode == "2")
                {
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        <div class="panel-body padding-20 padding-bottom-10">
                            <div class="radian-personal-info">
                                @Html.Partial("_personalInfo")
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" class="btn btn-success btn-radian-success button-change-state">Configurar modo de operación</button>
                        </div>
                    </div>
                }
                else
                {
                    <div id="steps-approved">
                        <div class="radian-personal-info">
                            @Html.Partial("_personalInfo")
                        </div>
                        <h3><span class="name-state">Ingreso de solicitud</span></h3>
                        <section>
                        </section>
                        <h3><span class="name-state">Pendiente</span></h3>
                        <section>
                            @Html.Partial("_certificates")
                        </section>
                        <h3><span class="name-state">Validando documentos</span></h3>
                        <section>
                            @Html.Partial("_certificates")
                        </section>
                        <h3><span class="name-state">Pruebas de aceptación</span></h3>
                        <section>
                            @Html.Partial("_setTestRedirect")
                        </section>
                        <h3></h3>
                        <section>
                            @Html.Partial("_finalStep")
                        </section>
                    </div>
                }

                @if (Model.Step == 4 || operationMode == "2")
                {
                    <div class="footer-table">
                        <div class="row margin-horizontal-0">
                            @Html.Partial("_users")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/js/Radian/RadianIndex.js"></script>
    <script src="~/Content/js/Radian/constants.js"></script>
    <script>
        $(document).ready(function () {

            var index = '@Model.RadianState' == "En pruebas" ? 3 : @Model.Step;
            RenderSteps(index);


        $(".show-history").click(function () {
            var htmlPartial = @(Html.Raw(JsonConvert.SerializeObject(Html.Partial("_fileHistory").ToString().Trim('"'))));
            var dialog = bootbox.dialog({
                message: htmlPartial,
                className: "table-data modal-radian",
                size: 'large'
            });
            dialog.init(function (e) {
                $('#table-history').DataTable({
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ elementos por página",
                        "zeroRecords": "No se encontraron datos",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay datos",
                        "infoFiltered": "(Filtrado de _MAX_ registros)",
                        "search": "Requisito:",
                        "paginate": {
                            "next": ">",
                            "previous": "<"
                        }
                    }
                });
                $("#table-history_filter").append("<button class='btn btn-radian-success'>Buscar</button>");
            })
        });

            $('.submit-button').click(function (e) {
                var form = $("#uploadForm");
                var files = $("#uploadForm")[0];
                var messages = new Object();
                var j = 0;
                for (var i = 0; i <= (files.length - 2) / 2; i = i + 2) {
                    messages = Object.assign(messages, {
                        ['file-' + j]: {
                            required: "Archivo requerido."
                        }
                    });
                    j++;
                }
                form.validate({
                    messages: messages
                });
                    form.valid() && e.preventDefault();
                    if (form.valid()) {
                    var formdata = new FormData();
                    var numberFiles = 0;
                    var limit = (files.length - 2) / 2
                    for (var i = 0; i <= limit ; i=i+2) {
                        if (files[i].files.length > 0) {
                            formdata.append(files[i].files[0].name, files[i].files[0]);
                            formdata.append("TypeId_" + numberFiles, files[i].dataset.typeid);
                            numberFiles++;
                        }
                    };
                    formdata.append("nit", "@Model.Nit");
                    formdata.append("email", "@Model.Email");
                    formdata.append("contributorId", "@Model.ContributorId");
                    formdata.append("radianContributorType", '@Request.Params.Get("RadianContributorType")');
                    formdata.append("radianContributorTypeiD", '@Model.RadianContributorTypeId');
                    formdata.append("radianOperationMode", '@Request.Params.Get("RadianOperationMode")');
                    formdata.append("filesNumber", numberFiles);
                    formdata.append("step", @Model.Step);
                    formdata.append("radianState", '@Model.RadianState');
                    $(".file-input-enabled").toggle();
                    $(".file-input-disabled").toggle();

                    $.ajax({
                        url: "@Url.Action("UploadFiles", "RadianApproved")",
                        type: 'POST',
                        data: formdata,
                        cache: false,
                        contentType: false,
                        processData: false,
                        enctype: 'multipart/form-data',
                        xhr: function () {
                            //upload Progress
                            var xhr = $.ajaxSettings.xhr();
                            if (xhr.upload) {
                                xhr.upload.addEventListener('progress', function (event) {
                                    var percent = 0;
                                    var position = event.loaded || event.position;
                                    var total = event.total;
                                    if (event.lengthComputable) {
                                        percent = Math.ceil(position / total * 100);
                                    }
                                    //update progressbar
                                    $(".progress-bar").css("width", + percent + "%");
                                    $(".status").text(percent + "%");
                                }, true);
                            }
                            return xhr;
                        },
                        success: function (data) {
                            var objData = data.data;
                            var operation = () => {
                                showLoading('#panel-form', 'Configuración', 'Procesando datos, por favor espere.');
                                window.location.href = '@Url.Action("Index", "RadianApproved")' + "?ContributorId=" + objData.ContributorId + "&RadianContributorType=" + objData.RadianContributorType + "&RadianOperationMode=" + objData.RadianOperationMode;
                            }
                            showConfirmation(data.message, AlertExec(operation));
                        },
                    });
                    }
                });

                $("#view-costumers").click(function () {
                    var htmlPartial = @(Html.Raw(JsonConvert.SerializeObject(Html.Partial("_customers").ToString().Trim('"'))));
                    var dialog = bootbox.dialog({
                        message: htmlPartial,
                        className: "table-data modal-radian",
                        size: 'large'
                    });
                    dialog.init(function (e) {
                        LoadEventsToSearch();
                        $('#table-customers').DataTable({
                            "language": {
                                "lengthMenu": "Mostrar _MENU_ elementos por página",
                                "zeroRecords": "No se encontraron datos",
                                "info": "Mostrando página _PAGE_ de _PAGES_",
                                "infoEmpty": "No hay datos",
                                "infoFiltered": "(Filtrado de _MAX_ registros)",
                                "search": "Nit Facturador",
                                "paginate": {
                                    "next": ">",
                                    "previous": "<"
                                }
                            }
                        });

                        $("#table-customers_filter").append(@(Html.Raw(JsonConvert.SerializeObject(Html.Partial("_formSearch").ToString().Trim('"')))));

                    })
                });

            $(".cancel-register").click(function () {
                var url = "@Url.Action("DeleteUser", "RadianApproved")";
                var confirmationMessage = bootboxMessage.CONFIRMATION_MESSAGE;
                var successAction = () => window.location.href = '@Url.Action("Index", "Radian")';
                var dataAjax = {
                    id: '@Model.ContributorId',
                    newState: '4',
                    radianContributorTypeId: @Model.RadianContributorTypeId,
                    radianState: '@Model.RadianState'
                };
                var label = bootboxMessage.CANCEL_DESCRIPTION;
                CancelRegister(url, dataAjax, confirmationMessage, successAction, label);
            });

     });


    </script>
}
