@model Gosocket.Dian.Web.Models.OthersElectronicDocumentsViewModel

<div class="row">
    <h4 class="panel-title-radian padding-0"><strong>Datos del software</strong></h4>
    <hr class="margin-5 margin-bottom-20" />

    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.ContributorId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ContributorId, new SelectList(ViewBag.ListTechnoProviders, "Id", "Name"), new { @class = "form-control selectpicker" })
            @Html.ValidationMessageFor(m => m.ContributorId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.SoftwareId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.SoftwareId, new SelectList(ViewBag.ListSoftwares, "Id", "Name"), new { @class = "form-control selectpicker" })
            @Html.ValidationMessageFor(m => m.SoftwareId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.PinSW, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PinSW, new { @class = "form-control input-general fields captureFields" })
            @Html.ValidationMessageFor(m => m.PinSW, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <h4 class="panel-title-radian padding-0"><strong>Datos del software</strong></h4>
    <hr class="margin-5 margin-bottom-20" />

    
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.OperationMode, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.OperationMode, new { @class = "form-control input-general fields captureFields", @readonly="readonly" })
            @Html.ValidationMessageFor(m => m.OperationMode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-5 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.UrlEventReception, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.UrlEventReception, new { @class = "form-control input-general fields captureFields" })
            @Html.ValidationMessageFor(m => m.UrlEventReception, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <h4 class="panel-title-radian padding-0"><strong>Datos de la empresa </strong></h4>
    <hr class="margin-5 margin-bottom-20" />

    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control input-general fields captureFields", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.IdSW, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.IdSW, new { @class = "form-control input-general fields captureFields", @readonly = "readonly" })
        </div>
    </div>

</div>

