@model Gosocket.Dian.Web.Models.OthersElectronicDocumentsViewModel
@using Gosocket.Dian.Infrastructure;

@{
	var contributorName = (string)ViewBag.ContributorName;
	var electronicDocumentName = (string)ViewBag.ElectronicDocumentName;
}

@section css
{
	<style type="text/css">

		.btn-success:focus, .btn-hover-success:active, .btn-hover-success.active, .btn.btn-active-success:active, .btn.btn-active-success.active, .dropdown.open > .btn.btn-active-success, .btn-group.open .dropdown-toggle.btn.btn-active-success {
			background-color: #348441 !important;
			border-color: #348441 !important;
			color: #fff !important;
		}

		.btn-success:hover, btn-radian-success:hover {
			background-color: #62C7AB;
			background: #62C7AB;
			border-color: #62C7AB;
			color: #fff;
		}

		.btnAddOthersDocs {
			height: 41px !important;
			width: 22px;
			font-size: 14pt;
			color: #fff;
			background-color: #348441;
			border-right-width: 0px !important;
			border-right-style: none;
			border-top-right-radius: 6px !important;
			border-bottom-right-radius: 6px !important;
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;
			text-align: center;
			padding-left: 0px;
			padding-right: 0px;
			margin-left: -3px;
		}


		.input-general {
			background: #fff !important;
		}

		.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
			cursor: not-allowed;
			background-color: #eee !important;
		}

		.btnCloseOtherDocument {
			color: #fff;
			background: #348441 !important;
			background-color: #348441 !important;
			/*border-radius: 10px !important;*/
			float: right;
			cursor: pointer;
			opacity: 100 !important;
			padding-left: 5px !important;
			padding-right: 5px !important;
			padding-top: 1px !important;
			padding-bottom: 2px !important;
			font-weight: normal !important;
			font-family: auto !important;
		}

		.prompt-comment .modal-body {
			width: 80%;
		}

		.modal-body .close, .modal-header .close {
			background-color: #348441 !important;
			/*top: 20px !important;
			right: -25px !important;*/
		}

		.divBackTop {
			padding-top: 15px;
		}

		.iconBackTop {
			color: #348441;
			font-size: 13pt;
		}

		.btnBackTop {
			color: #348441;
			font-size: 14pt;
			text-decoration: underline;
		}

		hr {
			margin-top: 20px !important;
			margin-bottom: 20px !important;
			border: 1px !important;
			border-top: 2px solid #E9E8E8 !important;
		}
	</style>
}
<div class="page-content margin-15">
	<div class="row title-container" style="margin-left: 1px;">
		<p class="title-view">
			@ViewBag.title
		</p>
		<div class="underline-title"></div>
		<div class="divBackTop">
			<span class="glyphicon glyphicon-chevron-left iconBackTop"></span>
			&nbsp;<a href="@Url.Action("Index", "OthersElectronicDocuments")" class="btnBackTop">Volver</a>
		</div>
	</div>

	<div class="row margin-horizontal-0" style="margin-top: 15px;">
		<div class="tab-base">
			<div class="tab-content padding-0">
				<div id="tab-current-country" class="tab-pane fade active in">
					<div class="panel">
						<div class="panel-body padding-top-20">
							<div class="row margin-horizontal-0">
								<div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">

									@using (Html.BeginForm("AddOrUpdateContributor", "OthersElectronicDocuments", FormMethod.Post, new { id = "frmOthersElectronicDocuments" }))
									{
										@Html.Partial("_form")
										if (!ViewBag.softwareActive)
										{
											if (ConfigurationManager.GetValue("Environment") != "Prod")
											{
												<div class="panel-footer text-right">
													<button id="btnSave" type="button" class="btn btn-success btn-radian-success btnSave">Asociar</button>
												</div>
											}
										}
									}
								</div>
							</div>
						</div>
						<div class="panel-body padding-top-20">
							<div class="row">
								<div class="col-lg-12  col-md-12  col-xs-12">
									<h4> Listado de modos de operación asociados</h4>
								</div>
								<div class="col-lg-12  col-md-12  col-xs-12 radian-subtitle-line">
								</div>
								<div class="col-lg-12 col-md-12  col-xs-12">
									<div class="table-responsive">
										<table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
											<thead>
												<tr>
													<th class="text-center">Modo de operación</th>
													<th class="text-center">Documento Electrónicos</th>
													<th class="text-center">&nbsp;&nbsp;Registro&nbsp;&nbsp;</th>
													<th class="text-center">Estado</th>
													<th class="text-center">Nombre del Software</th>
													<th class="text-center">ID</th>
													<th class="text-center">PIN del SW </th>
													<th class="text-center">URL</th>
													<th class="text-center">Acciones</th>
												</tr>
											</thead>
											<tbody>
												@if (Model.ListTable != null)
												{
													//List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel> listDocsTypesLis = (List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel>)ViewBag.IdentificationTypesList;
													foreach (var item in (List<Gosocket.Dian.Web.Models.OtherDocsElectListViewModel>)Model.ListTable)
													{
														<tr>
															<td class="text-left">@item.OperationMode - @item.ContributorType</td>
															<td class="text-center">@item.ElectronicDoc</td>
															<td class="text-center">@item.CreatedDate.ToString("dd-MM-yyyy")</td>
															<td class="text-center">@item.StateSoftware</td>
															<td class="text-center">@item.Software</td>
															<td class="text-center">@item.SoftwareId</td>
															<td class="text-center">@item.PinSW</td>
															<td class="text-center">  @item.Url  </td>
															<td class="text-center" style="width:70px">
																@*<a class="delete" href="#" data-contributor-id="@(item.ContributorId)"><i title="Eliminar" class="fa fa-trash fa-1" style="font-size: 22px;color: #348441;"></i></a>*@
																<a href="@Url.Action("Index","OthersElectronicDocAssociated", new { Id =  @item.Id })" title="Ver detalle"><i class="fa fa-eye" style="font-size: 22px;color: #348441;"></i></a>
																<a onclick="EliminarRegistro(@item.Id)" title="Ver detalle"><i class="fa fa-trash" style="font-size: 22px;color: #348441;"></i></a>
															</td>
														</tr>
													}
												}
											</tbody>
										</table>
									</div>

									<!--Paginación de la tabla-->
									<div class="pull-right table-pagination padding-top-10">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@*<div class="modal fade prompt-comment" id="dialogcancelarregistro" tabindex="-1" aria-labelledby="dialogcancelarregistroLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="top: 20px !important; right: -25px !important;">×</button>
						<h4 class="modal-title" style="padding-bottom: 1px;border-bottom: 3px solid #62C7AB;font-size: 20px;">&nbsp; Cancelación @(contributorName) de @(electronicDocumentName)</h4>
					</div>
					<div class="modal-body">
						<div class="bootbox-body">
							<Label id="lbldangercancelregister" class="control-label">Describa el motivo de la cancelación del registro</Label>
							<textarea class="form-control  input-general fields captureFields" id="txtCancelRegistro" placeholder="Escriba aqui."
									  maxlength="300" name="txtCancelRegistro" rows="5" style="height: auto !important;background: white !important;"></textarea>
						</div>
					</div><div class="modal-footer">
						<button id="savecancel-register" name="savecancel-register" type="button" class="btn btn-success btn-radian-success savecancel-register" style="padding: 8px 13px;">Cancelar Registro</button>
					</div>
				</div>
			</div>
		</div>*@
		<div class="modal fade prompt-comment" id="dialogcancelarregistro" tabindex="-1" aria-labelledby="dialogcancelarregistroLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="padding-right: 31px; top: 20px;">×</button>
						<h4 class="modal-title" style="padding-bottom: 1px;border-bottom: 3px solid #62C7AB;font-size: 20px;">&nbsp; Eliminación modo de Operación</h4>
					</div>
					<div class="modal-body">
						<div class="bootbox-body">
							<Label id="lbldangercancelregister" class="control-label">Describa el motivo de la eliminación del modo de operación</Label>
							<textarea class="form-control  input-general fields captureFields" id="txtCancelRegistro" placeholder="Escriba aqui."
									  maxlength="300" name="txtCancelRegistro" rows="5" style="height: auto !important;background: white !important;"></textarea>

						</div>
					</div><div class="modal-footer">
						<button id="Btnsavecancel" name="savecancel-register" type="button" class="btn btn-success btn-radian-success savecancel-register" style="padding: 8px 13px;">Cancelar Registro</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Content/js/Radian/RadianIndex.js"></script>

	<script>

        $(document).ready(function ($) {
            if ('@ViewBag.softwareActive'=='True'){

                var sms ='No se puede ' + '@ViewBag.title' + ', ya que tiene uno en estado: "En Proceso"';
                 bootbox.dialog({
                     message: "<div class='media'><div class='media-body' style='padding: 40px 30px 55px 30px !important;  line-height: 100%;text-align: center;'><i class='fa fa-times-circle iconcheckcircle'></i><br><br><h4 class='text-thin'>" + sms + "</h4></div></div>",
                                onEscape: () => {  }
                 });
            }

			$('#btnSave').click(function () {

				if ($('#OperationModeSelectedId').val()!=2) {
					$('#ProviderId').append(new Option("", "1"));
					$('#ProviderId').val("1")
				}

                var form = $('#frmOthersElectronicDocuments');
                console.log(form);
                console.log(form.valid());
                if (form.valid()) {
                    form.submit();
                }
            });

            $('#ProviderId').change(function () {
                if ('@ViewBag.softwareActive' == 'False') {
                   // $('#UrlEventReception').val('');
                    $('#SoftwareType').val('');
                    getSoftwares($('#ProviderId').val());
                }
            });

            $('#SoftwareId').change(function (e) {
                var $this = $(this);
                $('#SoftwareName').val($('#SoftwareId option:selected').text());
                getDataSoftwareSeleccionado($this.val());
            });

            $('.delete').click(function () {
                //alert($(this).data('contributor-id'));
                $("#txtCancelRegistro").val("");
                $('#lbldangercancelregister').removeClass("text-danger text-bold");
                $("#dialogcancelarregistro").modal('show');
            });
			if (@Model.ContributorIdType == 2) {
				$('select[name=OperationModeSelectedId]').val(1);				
			}
			else {
				$('select[name=OperationModeSelectedId]').val(0);
			}			
			$('.selectpicker').selectpicker('refresh');
			$('#OperationModeSelectedId').change();
		});//ready




		function EliminarRegistro(id) {
			debugger;
			$("#dialogcancelarregistro").modal('show');


			("#Btnsavecancel")[0].onclick = null;
			$("#Btnsavecancel").click(function () {
				ElimnarOp(id)

			});
		}




		function ElimnarOp(id)
			{
				 if ($("#txtCancelRegistro").val() == null || $("#txtCancelRegistro").val() == '') {
                    $('#lbldangercancelregister').addClass("text-danger  text-bold");
                    return;
                }

                $("#dialogcancelarregistro").modal('hide');
                showConfirmation("¿Desea cancelar el registro del participante @(contributorName) de @(electronicDocumentName) ?", ConfirmExec(
                        function () {

                            $.ajax({
                           url: "@Url.Action("CancelRegister", "OthersElectronicDocAssociated")",
                            type: "POST",
                                data: { id: id, description: $("#txtCancelRegistro").val() },
                            datatype: "json",
                            success: function (result) {

                                if (result != null) {

                                    if (result.Code != 200) {
                                        bootbox.alert(result.Message);
                                        return;
                                    }

                                    bootbox.dialog({
                                    message: "<div class='media'><div class='media-body' style='padding: 40px 30px 55px 30px !important;  line-height: 100%'><div style='text-align: center;'><i class='fa fa-check-circle iconcheckcircle'></i></div><br><h4 class='text-thin'>Se cancelo el registro exitosamente</h4></div></div>",
                                    onEscape: () => {
                                        var url = "@Url.Action("Index", "OthersElectronicDocuments")";
                                        window.location.href = url;
                                     }
                                    });
                                }
                                else
                                    bootbox.alert("No se pudo realizar la Cancelación");
                            },
                            complete: function () {

                            },
                            error: function (result) {
                                bootbox.alert("Error de conexión al intentar obtener el listado de Software");
                                console.log(result.status + ' ' + result.statusText);
                                return false;
                            }
                        });  //ajax


                     }
                    , "", () => hideLoading('#panel-form')));

			}




		$('#OperationModeSelectedId').change(function ()
		{

            if ($('#OperationModeSelectedId').val() == 1) {
				$('#FormPt').fadeOut()
				$('#FormPropio').fadeIn()
				$('#DivSoftwareId').fadeIn()
				$('#DivPin').fadeIn()
            }
            else if ($('#OperationModeSelectedId').val() == 2) {
				$('#FormPt').fadeIn()
				$('#FormPropio').fadeOut()
            }
            else
                if ($('#OperationModeSelectedId').val() == 3) {
					$('#FormPt').fadeOut()
					$('#FormPropio').fadeIn()
					$('#ContributorName').val('DIRECCIÓN DE IMPUESTO Y ADUANAS NACIONALES - DIAN')
					$('#SoftwareName').val('Solución gratuita')
					$('#DivSoftwareId').fadeOut()
					$('#DivPin').fadeOut()
					$('#SoftwareName').attr('disabled', true)
                }
				else {
					$('#FormPt').fadeOut()
					$('#FormPropio').fadeOut()
				}
        })


        function getSoftwares(ProviderId){

            $("#SoftwareId").html('<option value="" selected="selected">Seleccione...</option>');
            $('#ulSoftwareId').html('<li data-original-index="0" class="selected"><a tabindex="0" class=""' +
                'data-normalized-text="Seleccione..."><span class="text">Seleccione...</span><span class="fa fa-check check-mark"></span></a></li>');

            cambiarTextoSelect();

            $.ajax({
                url: "@Url.Action("GetSoftwaresByContributorId", "OthersElectronicDocuments")",
                type: "POST",
                data: { id: ProviderId, electronicDocumentId: @Model.ElectronicDocumentId },
                datatype: "json",
                success: function (result) {

                    if (result != null && result.res != null) {

                        $.each(result.res, function (index, value) {
                            $('#SoftwareId').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                            $('#ulSoftwareId').append('<li data-original-index="' + (index + 1) + '"><a tabindex="0" class=""' +
                                ' data-normalized-text="' + value.Name + '"><span class="text">' + value.Name + '</span>' +
                                '<span class="fa fa-check check-mark"></span></a></li>');
                        });
                    }
                    else
                        bootbox.alert("No se pudo realizar la consulta");
                },
                complete: function () {

                },
                error: function (result) {
                    bootbox.alert("Error de conexión al intentar obtener el listado de Software");
                    console.log(result.status + ' ' + result.statusText);
                    return false;
                }
            });  //ajax

        }

        function getDataSoftwareSeleccionado(SoftwareId){

            $.ajax({
                url: "@Url.Action("GetDataBySoftwareId", "OthersElectronicDocuments")",
                type: "POST",
                data: { SoftwareId: SoftwareId },
                datatype: "json",
                success: function (result) {
                    if (result != null) {
                        console.log(result);
                        $('#UrlEventReception').val(result.url);
                        $('#SoftwareType').val(result.SoftwareType);
                        $('#PinSW').val(result.SoftwarePIN);
                    }
                    else
                        bootbox.alert("No se pudo realizar la consulta");
                },
                complete: function () {

                },
                error: function (result) {
                    bootbox.alert("Error de conexión al intentar obtener el listado de Software");
                    console.log(result.status + ' ' + result.statusText);
                    return false;
                }
            });  //ajax

        }

        function cambiarTextoSelect() {
            var botones = $(":button");
            var boton;

            $.each(botones, function (index1, val1) {
                if (val1.attributes != undefined && $(val1).hasClass("selectpicker")) {

                    boton = val1;
                    $.each(val1.attributes, function (index, value) {

                        if (value.localName == "data-id" && value.nodeValue == "SoftwareId") {

                            boton.firstElementChild.textContent = "Seleccione...";

                        }
                    });
                }
            });
        }

	</script>
}