@model Gosocket.Dian.Web.Models.OthersElectronicDocumentsViewModel


@section css
{
    <style type="text/css">

        .btn-success:focus, .btn-hover-success:active, .btn-hover-success.active, .btn.btn-active-success:active, .btn.btn-active-success.active, .dropdown.open > .btn.btn-active-success, .btn-group.open .dropdown-toggle.btn.btn-active-success {
            background-color: #348441 !important;
            border-color: #348441 !important;
            color: #fff !important;
        }

        .btn-success:hover, btn-radian-success:hover {
            background-color: #62C7AB;
            background: #62C7AB;
            border-color: #62C7AB;
            color: #fff;
        }

        .btnAddOthersDocs {
            height: 41px !important;
            width: 22px;
            font-size: 14pt;
            color: #fff;
            background-color: #348441;
            border-right-width: 0px !important;
            border-right-style: none;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: -3px;
        }


        .input-general {
            background: #fff !important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: not-allowed;
            background-color: #eee !important;
        }

        .btnCloseOtherDocument {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .prompt-comment .modal-body {
            width: 100%;
        }

        .modal-body .close, .modal-header .close {
            background-color: #348441 !important;
        }

        .divBackTop {
            padding-top: 15px;
        }

        .iconBackTop {
            color: #348441;
            font-size: 13pt;
        }

        .btnBackTop {
            color: #348441;
            font-size: 14pt;
            text-decoration: underline;
        }
    </style>
}
<div class="page-content margin-15">
    <div class="row title-container" style="margin-left: 1px;">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
        <div class="divBackTop">
            <span class="glyphicon glyphicon-chevron-left iconBackTop"></span>
            &nbsp;<a href="@Url.Action("Index", "OthersElectronicDocuments")" class="btnBackTop">Volver</a>
        </div>
    </div>
    <div class="row margin-horizontal-0" style="margin-top: 15px;">
        <div class="tab-base">
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div class="panel">

                        <div class="panel-body padding-top-20">
                            <div class="row margin-horizontal-0">
                                <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                                    @using (Html.BeginForm("AddOrUpdate", "OthersElectronicDocuments", FormMethod.Post, new { id = "frmOthersElectronicDocuments" }))
                                    {
                                        @Html.Partial("_form")

                                        <div class="panel-footer text-right">
                                            <a href="@Url.Action("Index", "OthersElectronicDocAssociated", new { electronicDocumentId = 0,  operationModeId = 0,  ContributorIdType = 0 })" class="btnBackTop">Siguiente Pruebas</a>
                                            <button id="btnSave" type="button" class="btn btn-success btn-radian-success">Asociar</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var enumElectronicsDocuments =
        {
            ElectronicPayroll: 1, //Nomina electronica y Nomina de ajuste
            ImportDocument: 2,
            SupportDocument: 3,
        };

        $(document).ready(function ($) {


            $('#btn-save').click(function () {
                var form = $('#add-testset-form');
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });

            $('#ContributorId').change(function () {

                console.log("botones", $(":button"));
                getSoftwares($('#ContributorId').val());

            });

            if ($('#ContributorId').val() != '' && $('#ContributorId').val() != "0") {
                getSoftwares($('#ContributorId').val());
            }

        });//ready

        function getSoftwares(contributorId){

            $("#SoftwareId").html('<option value="" selected="selected">Seleccione...</option>');
            $('#ulSoftwareId').html('<li data-original-index="0" class="selected"><a tabindex="0" class=""' +
                'data-normalized-text="Seleccione..."><span class="text">Seleccione...</span><span class="fa fa-check check-mark"></span></a></li>');

            cambiarTextoSelect();

            $.ajax({
                url: "@Url.Action("GetSoftwaresByContributorId", "OthersElectronicDocuments")",
                type: "POST",
                data: { id: contributorId },
                datatype: "json",
                success: function (result) {

                    if (result != null && result.res != null) {

                        $.each(result.res, function (index, value) {
//                            console.log('<option value="' + value.Id + '">' + value.Name + '</option>');
                            $('#SoftwareId').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                            $('#ulSoftwareId').append('<li data-original-index="' + (index + 1) + '"><a tabindex="0" class=""' +
                                ' data-normalized-text="' + value.Name + '"><span class="text">' + value.Name + '</span>' +
                                '<span class="fa fa-check check-mark"></span></a></li>');
                        });
                    }
                    else
                        bootbox.alert("No se pudo realizar la eliminación");
                },
                complete: function () {

                },
                error: function (result) {
                    bootbox.alert("Error de conexión al intentar obtener el listado de Software");
                    console.log(result.status + ' ' + result.statusText);
                    return false;
                }
            });  //ajax

        }

        function cambiarTextoSelect() {
            var botones = $(":button");
            var boton;

            $.each(botones, function (index1, val1) {
                if (val1.attributes != undefined && $(val1).hasClass("selectpicker")) {
                    
                    boton = val1;
                    $.each(val1.attributes, function (index, value) {
                        
                        if (value.localName == "data-id" && value.nodeValue == "SoftwareId") {
                            
                            boton.firstElementChild.textContent = "Seleccione...";
                            
                        }
                    });
                }
            });
        }

    </script>

}