@model Gosocket.Dian.Web.Models.SearchDocumentViewModel

<style>
    .fa-download {
        color: #348441;
        font-size: 125%;
    }

    .radian-subtitle-line {
        margin-bottom: 10px;
    }
</style>

<div class="row radian-subtitle-container">
    <p class="subtitle-view">
        Resultados de búsqueda
    </p>
    <div class="radian-subtitle-line"></div>
</div>

<div class="table-responsive padding-bottom-15">
    <table colspan="13" class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
        <thead>
            <tr>
                <th style="width: 50px;"></th>
                <th>Recepción</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Prefijo</th>
                <th class="text-center">Nº documento</th>
                <th class="text-center">Tipo</th>
                <th>NIT Emisor</th>
                <th>Emisor</th>
                <th>NIT Receptor</th>
                <th>Receptor</th>
                <th>Resultado</th>
                <th>Estado RADIAN</th>
                <th style="text-align:center">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Documents.Count == 0)
            {
                <tr style="background-color: transparent !important;">
                    <td class="text-nowrap text-center" colspan="13" style="padding-left: 0 !important; padding-right: 0 !important;">
                        <div class="alert panel-footer-grey">
                            Ningún documento disponible para mostrar.
                        </div>
                    </td>
                </tr>
            }
            @foreach (var document in Model.Documents)
            {
                var status = "success";
                var isDisabled = "";
                if (document.Status == 10)
                {
                    status = "primary";
                }
                if (document.Status == 2)
                {
                    status = "danger";
                    isDisabled = "disabled";
                }
                <tr>
                    <td>
                        @if (document.DocumentTypeId == "05")
                        {
                            <span class="fa fa fa-download add-tooltip download-support-document" data-original-title="Documento soporte" data-id="@document.Id" id="@document.Id"></span>
                        }
                        else
                        {
                            if (document.DocumentTypeId == "20")
                            {
                                <span class="fa fa fa-download add-tooltip download-equivalente-document" data-original-title="Descargar elementos" data-id="@document.Id" id="@document.Id" documenTypeId="@document.DocumentTypeId" EmissionDate="@document.EmissionDate" GenerationDate="@document.GenerationDate"></span>
                            }
                            else
                            {
                                if (document.Status != 2 && document.DocumentTypeId != "12" && document.DocumentTypeId != "101")
                                {
                                    <span class="fa fa fa-download add-tooltip download-document" data-original-title="Descargar elementos" data-id="@document.Id" id="@document.Id"></span>
                                }
                                else
                                {
                                    <span class="fa fa fa-close add-tooltip" data-original-title="Descarga desahabilitada"></span>
                                }
                            }
                        }

                    </td>
                    @if (document.DocumentTypeId == "05" || document.DocumentTypeId == "101")
                    {
                        <td class="text-nowrap" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <a>@document.ReceptionDate.AddHours(-5).ToString("dd-MM-yyyy")</a>
                        </td>
                        <td class="text-nowrap text-center " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <a>@document.EmissionDate.ToString("dd-MM-yyyy")</a>
                        </td>
                        <td class="text-center text-nowrap " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.Serie
                        </td>
                        <td class="text-nowrap text-center " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.SerieAndNumber
                        </td>
                        <td class="text-center " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.DocumentTypeName</div>
                        </td>
                        <td class="text-nowrap " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.SenderCode
                        </td>
                        <td class="" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.SenderName</div>
                        </td>
                        <td class="text-nowrap " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.ReceiverCode
                        </td>
                        <td class="" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.ReceiverName</div>
                        </td>
                        <td class="text-nowrap " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.StatusName
                        </td>
                        <td class="" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <i class="fa fa-circle radian-status-circle"></i>
                            @document.RadianStatusName
                        </td>
                        <td class="text-center text-nowrap " data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.TotalAmount.ToString("C0")
                        </td>
                    }
                    else
                    {
                        <td class="text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <a>@document.ReceptionDate.AddHours(-5).ToString("dd-MM-yyyy")</a>
                        </td>
                        <td class="text-nowrap text-center document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <a>@document.EmissionDate.ToString("dd-MM-yyyy")</a>
                        </td>
                        <td class="text-center text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.Serie
                        </td>
                        <td class="text-nowrap text-center document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.SerieAndNumber
                        </td>
                        <td class="text-center document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.DocumentTypeName</div>
                        </td>
                        <td class="text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.SenderCode
                        </td>
                        <td class="document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.SenderName</div>
                        </td>
                        <td class="text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.ReceiverCode
                        </td>
                        <td class="document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <div class="iffyTip hideText2">@document.ReceiverName</div>
                        </td>
                        <td class="text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.StatusName
                        </td>
                        <td class="document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            <i class="fa fa-circle radian-status-circle"></i>
                            @document.RadianStatusName
                        </td>
                        <td class="text-center text-nowrap document-row" data-id="@document.Id" data-partitionKey="@document.PartitionKey" data-type="@document.DocumentTypeId">
                            @document.TotalAmount.ToString("C0")
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="row margin-horizontal-0 padding-top-0">
    <div class="col-md-9 table-toolbar-left padding-left-0">
    </div>
    <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
        @if (Model.Documents.Any())
        {
            <span class="text-muted">
                <strong>@(Model.Page * Model.MaxItemCount + 1)-@(Model.MaxItemCount > Model.Documents.Count ? (Model.Page) * Model.MaxItemCount + Model.Documents.Count : (Model.Page + 1) * Model.MaxItemCount)</strong>
            </span>
            <div class="btn-group btn-group margin-left-5">
                <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="btn btn-default paginate-btn next-page" @(Model.Documents.Count < Model.MaxItemCount ? "disabled=\"disabled\"" : "")>
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
        }
    </div>
</div>