@model Gosocket.Dian.Web.Models.InvoiceNotesViewModel

@{
    ViewBag.Title = "Detalles del documento";
    Layout = "~/Views/Shared/_LayoutPublicInfo.cshtml";
}

@section css
{

    <style>
        .container {
            background-color: #fff;
        }

        .text-wrap {
            word-wrap: break-word;
        }
    </style>
}

<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><span class="h5">Factura Electrónica</span></a></li>
        @foreach (var item in Model.ListGlobalDocValidatorDocumentMetas)
        {
            <li><a data-toggle="tab" href="#@item.DocumentKey"><span class="h5">@item.DocumentTypeName</span></a></li>
        }
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div>
                @Html.Partial("_ViewerPartial", Model.ListDocValidatorModels[0]);
                @*<div>CUFE:</div>
                    <div>@Model.GlobalDocValidatorDocument.GlobalDocumentId</div>*@
            </div>
        </div>

        @foreach (var item in Model.ListDocValidatorModels.Where(d => d.Document.DocumentKey != "01"))
        {
            <div id="@item.Document.DocumentKey" class="tab-pane fade">
                @Html.Partial("_ViewerPartial", item);
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Content/js/bootstrap.min.js"></script>
}