@model Gosocket.Dian.Web.Models.InvoiceNotesViewModel

@{
    ViewBag.Title = "Detalles del documento";
    Layout = "~/Views/Shared/_LayoutPublicInfo.cshtml";
    var invoiceDocValidatorModel = Model.ListDocValidatorModels[0];
    invoiceDocValidatorModel.IconsData = Model.IconsData;
}

@section css
{

    <style>
        .container {
            background-color: #fff;
        }

        .text-wrap {
            word-wrap: break-word;
        }
    </style>
}

<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><span class="h5">Factura Electrónica</span></a></li>
        @foreach (var item in Model.ListGlobalDocValidatorDocumentMetas)
        {
            <li><a data-toggle="tab" href="#@item.DocumentKey"><span class="h5">@item.DocumentTypeName</span></a></li>
        }
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div>                
                @Html.Partial("_ViewerPartial", invoiceDocValidatorModel);
                @*<div>CUFE:</div>
                    <div>@Model.GlobalDocValidatorDocument.GlobalDocumentId</div>*@
            </div>
        </div>

        @foreach (var item in Model.ListDocValidatorModels.Where(d => d.Document.DocumentKey != "01"))
        {
            <div id="@item.Document.DocumentKey" class="tab-pane fade">
                @Html.Partial("_ViewerPartial", item);
            </div>
        }
    </div>
    <div class="panel-body padding-top-20">
        <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
            <a href="@Url.Action("SearchDocument", "User")" class="btn btn-gosocket btn-lg btn-block margin-top-40">Regresar</a>
        </div>
        <div class="col-md-3" style="padding-left: 0;padding-top:7px;"></div>
        <div class="col-md-3" style="padding-left: 0;padding-top:7px;"></div>
        @if (Model.GlobalDocValidatorDocument.ValidationStatus != 2)
        {
            <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
                <a href="@Url.Action("DownloadPDF", "Document", new { trackId = Model.GlobalDocValidatorDocument.GlobalDocumentId})" class="btn btn-gosocket btn-lg btn-block margin-top-40 downloadPDFUrl">
                    <i class="fa fa-download"></i> Descargar PDF
                </a>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".eventView").click(function () {
                debugger
                var documentKey = $(this).parent().find("#DocumentKey").val()
                $('#container1').fadeOut(200);
                GetEventsPartialView(documentKey);
                setTimeout(function () {
                    $('#divViewerPartial').css("height", "635px");
                    $('#divPageContent').css('max-height', '623px');
                }, 200)
            })
        })

    </script>
}