@model Gosocket.Dian.Web.Models.ExternalUserViewModel

@{
    ViewBag.Title = "Crear usuario";
}

@section css
{
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <style type="text/css">

        .input-general {
            background: #fff !important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: not-allowed;
            background-color: #eee !important;
        }

        .btnCloseUE {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .footerRectangle {
            padding: 10px !important;
        }

        .UEText {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            align-items: center;
            text-align: center;
            color: #348441;
        }
 

        .row-fluid {
            display: flex;
            align-items: flex-end;
        }

        /* [class^="col-"]:not(.pad-no) {
            padding-left: 2px;
            padding-right: 2px;
        }*/

        /*.col-xs-2, .col-md-2 {
            padding-right: 2px;
            padding-left: 2px;
        }*/

        .lblOptions {
            padding-left: 5px;
            padding-top: 4px;
        }
        .menuIcon {
            padding-left: 5px;
        }
    </style>
}

<div class="page-content margin-15">
    <div class="row title-container" style="margin-left: 1px;">
        <p class="title-view">
            @ViewBag.Title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0 margin-top-35">
        <div class="panel">

            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("AddUser", "ExternalUsers", FormMethod.Post, new { id = "add-user-form" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            <input type="hidden" id="listMenu" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Menu)" />
                            <input type="hidden" id="hddPermissions" name="hddPermissions" />
                            <input type="hidden" id="hddMessage" name="hddMessage" value="@ViewBag.messageAction" />
                            <input type="hidden" id="hddPermissionsAsigned" name="hddPermissionsAsigned"
                                   value="@(ViewBag.PermissionList != null ? Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PermissionList) : null)" />

                            @Html.Partial("_userForm")
                            @Html.ValidationSummary("", new { @class = "text-center text-danger" })
                            <div class="row margin-left-20 margin-right-20">
                                <h4 class="panel-title-radian padding-0"><strong>Permisos</strong></h4>
                                <hr class="margin-5 margin-bottom-20" />
                            </div>
                            <div class="panel-body padding-top-0">
                                @foreach (Gosocket.Dian.Web.Models.MenuViewModel menu in ((List<Gosocket.Dian.Web.Models.MenuViewModel>)ViewBag.Menu))
                                {
                                    <div id="@("divMenu" + menu.Id)" class="col-xs-2 col-md-2">
                                        <div class="form-group form-check" style="margin-bottom: 0px;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="form-check-input" id="@("chkMenu" + menu.Id)" onchange="changeAllMenu(@menu.Id)" title="@menu.Title" />
                                                    </td>
                                                    @if (!string.IsNullOrEmpty(menu.Icon))
                                                    {
                                                        <td class="menuIcon">

                                                            <i class="@menu.Icon"></i>

                                                        </td>
                                                    }
                                                    <td>
                                                        <label class="form-check-label lblOptions" for="@("chkMenu" + menu.Id)" title="@menu.Title">@menu.Name</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        @if (menu.Options != null)
                                        {
                                            foreach (Gosocket.Dian.Web.Models.SubMenuViewModel subMenu in ((Gosocket.Dian.Web.Models.MenuViewModel)menu).Options)
                                            {
                                                <div class="form-check">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" class="form-check-input" id="@("chkSubmenu" + menu.Id + "_" + subMenu.Id)" title="@subMenu.Title">
                                                            </td>
                                                            <td><label class="form-check-label lblOptions" for="@("chkSubmenu" + menu.Id + "_" + subMenu.Id)" title="@subMenu.Title">@subMenu.Name</label></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                            <div class="panel-footer footerRectangle text-right">
                                @*@Html.ActionLink("Nuevo", "Add@*User", "ExternalUsers", null, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-danger btn-hover-gosocket btn-active" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive()">@ViewBag.txtActive</button>
                <button type="submit" class="btn btn-success btn-hover-gosocket btn-save">@ViewBag.txtAccion</button>*@
                                <div class="footerRectangle">
                                    <button type="button" id="btnAbrirModalConfirmacion" name="btnAbrirModalConfirmacion" class="btn btn-success btn-hover-gosocket btn-radian-success">
                                        Crear Usuario
                                    </button>

                                </div>
                            </div>



                            <div class="modal fade ModalSave" id="ModalSave" name="ModalSave" tabindex='-1' data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="row">
                                                 
                                                <div class="col-md-12 col-lg-12">
                                                    <button type="button" class="close btnCloseUE" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>asd
                                                    <br /><br /><br />
                                                </div>

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="UEText">
                                                        ¿Desea creal al usuario<br />
                                                        <span id="idUserEdicion"></span>?
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br />
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-xs-6">
                                                    <button type="submit" class="btn btn-hover-gosocket btn-radian-success pull-right btn-save">Aceptar</button>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-xs-6">
                                                    <button type="button" class="btn btn-success btn-hover-gosocket btn-radian-success" data-dismiss="modal" aria-label="Close">
                                                        Cancelar
                                                    </button>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br /><br /><br />
                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade ModalConfirSave" id="ModalConfirSave" name="ModalConfirSave" tabindex='-1' data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="row"> 
                                                <div class="col-md-12 col-lg-12">
                                                    <button type="button" class="close btnCloseUE" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button> 
                                                    <br /><br /><br />
                                                </div>

                                                <div class="col-md-12 col-lg-12">
                                                     <div style="font-size: 80px;">
                                                        <i class="fa fa-check-circle"></i>
                                                    </div> 
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br />
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="UEText"> 
                                                        <span id="idEstadoSave"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br /><br /><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="panel-body padding-top-20">
                <div class="row">
                    <div class="col-lg-12  col-md-12  col-xs-12"> 
                        <h4> Usuarios Configurados</h4>
                    </div>
                    <div class="col-lg-12  col-md-12  col-xs-12 radian-subtitle-line"> 
                    </div>
                    <div class="col-lg-offset-1 col-md-offset-1  col-lg-10 col-md-10  col-xs-12">
                        <div class="table-responsive">

                            <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                                <thead>
                                    <tr>
                                        <th>Tipo de documento</th>
                                        <th>Documento</th>
                                        <th>Nombres</th>
                                        <th>Email</th>
                                        <th class="text-center">Activo</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ExternalUsersList != null)
                                    {
                                        List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel> listDocsTypesLis = (List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel>)ViewBag.IdentificationTypesList;
                                        foreach (var item in (List<Gosocket.Dian.Web.Models.ExternalUserViewModel>)ViewBag.ExternalUsersList)
                                        {
                                            <tr>
                                                <td>@listDocsTypesLis.FirstOrDefault(i => i.Id == item.IdentificationTypeId).Description</td>
                                                <td>@item.IdentificationId</td>
                                                <td>@item.Names</td>
                                                <td>@item.Email</td>
                                                <td class="text-center">@(item.Active == 1 ? "Activo" : "Inactivo")</td>
                                                <td class="text-center">

                                                    @Html.ActionLink(" ", "AddUser", new { id = item.Id }, new { @class = "fa fa-pencil" })
                                                    &nbsp;

                                                    @if (item.Active == 1)
                                                    {
                                                        <a class="fa fa-toggle-on" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive(1)"></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="fa fa-toggle-off" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive(2)"> </a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="dialogConfirmActive" tabindex='-1' data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Desea inactivar al usuario?</h4>
            </div>
            <div class="modal-body">
                <div class="row row-fluid">
                     
                    <div class="form-group col-lg-10  col-md-10  col-xs-12">
                            <span class="control-label accion-title"></span>
                         <br />
                        <textarea type="text" id="txtActiveDescription" cols="3" rows="6" maxlength="150" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-lg-2  col-md-2  col-xs-12 align-items-end">
                        <button id="btnOkActive" type="button" data-dismiss="modal" class="btn btn-success btn-hover-gosocket btn-radian-success">Aceptar</button>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var listMenu;
        var userId = "";
        var reloadView = false;
        var listPermisionsAsigned;
        $(document).ready(function ($) {

            userId = $("#Id").val();
            reloadView = false;

            if(userId.length > 0)
                $(".btn-active").show();
            else
                $(".btn-active").hide();

            listMenu = JSON.parse($("#listMenu").val());

            $('.btn-save').click(function () {
                var form = $('#add-user-form');
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');

                    var permissions = getPermissions();

                    $('#hddPermissions').val(permissions);
                    HideModalSave();
                    //form.submit();
                }
            });

            //$('#dialogConfirmActive').on('hidden.bs.modal', function () {
            //    if (reloadView)
            //        reloadPage();

            //});


            $('#btnAbrirModalConfirmacion').click(function () {
                var form = $('#add-user-form');
                console.log(form.valid());
                if (form.valid()) {
                    var permissions = getPermissions();
                    if (permissions === "[]")
                    {
                        $.niftyNoty({
                            type:  "danger",
                            container: "floating",
                            title: "Permisos",
                            message: "No ha seleccionado los Permisos para el Usuario",
                            closeBtn: false,
                            timer: 5000
                        });
                    }
                    else
                        showModalSave();
                }
            });
             

            $("#btnOkActive").click(function () {
                debugger;
                $.ajax({
                    url: "@Url.Action("UpdateActive","ExternalUsers")",
                    type: "POST",
                    data: {
                        userId: $("#Id").val(), active: $(".btn-active").text(), activeDescription: $("#txtActiveDescription").val(), email: $("#Email").val() },
                    datatype: "json",
                    success: function (res) {

                        if (res.StatusCode == 'OK') {
                            reloadView = true;

                            if ($(".btn-active").text() == 'Activar')
                                $(".btn-active").text('Desactivar');
                            else
                                $(".btn-active").text('Activar');

                            $.niftyNoty({
                                type: res.StatusCode == 'OK' ? "success" : "danger",
                                container: "floating",
                                title: "Mensaje...",
                                message: res.Message,
                                closeBtn: false,
                                timer: 5000
                            });

                            reloadPage();
                        }
                        else
                            reload = false;

                    },
                    complete: function () {

                    },
                    error: function (result) {

                        $.niftyNoty({
                            type: "danger",
                            container: "floating",
                            title: "Mensaje",
                            message: "Error desconocido al actulizar el estado del Usuario",
                            closeBtn: false,
                            timer: 5000
                        });
                    }
                });  //ajax

            });

            $("#btnCancelActive").click(function () {
                $('#dialogConfirmActive').alert('close');
            });

            if ($("#hddPermissionsAsigned").val() != null && $("#hddPermissionsAsigned").val() != "") {

                listPermisionsAsigned = JSON.parse($("#hddPermissionsAsigned").val());

                for (i = 0; i < listMenu.length; i++) {
                    console.log('Menu: ' + listMenu[i].Id + ' ' + listMenu[i].Name);
                    if (listMenu[i].Options != null && listMenu[i].Options.length > 0) {
                        for (j = 0; j < listMenu[i].Options.length; j++) {

                            var asigned = validSubMenuAsigned(listMenu[i].Options[j].Id);

                            if (asigned) {
                                $("#chkSubmenu" + listMenu[i].Id + "_" + listMenu[i].Options[j].Id).prop("checked", "checked");
                                $("#chkMenu" + listMenu[i].Id).prop("checked", "checked");
                            }
                        }
                    }
                    else {
                        if (validMenuWithoutSubMenu(listMenu[i].Id)) {
                            $("#chkMenu" + listMenu[i].Id).prop("checked", "checked")
                        }
                    }
                }
            }

            debugger;
            if ($("#hddMessage").val() != null && $("#hddMessage").val() != '') { 
                alert($("#hddMessage").val());
            }

        });//ready

        function validMenuWithoutSubMenu(menuId) {
            var menuSelected = false;

            for (z = 0; z < listPermisionsAsigned.length; z++) {
                if (menuId == listPermisionsAsigned[z].MenuId && (listPermisionsAsigned[z].SubMenuId == 0 || listPermisionsAsigned[z].SubMenuId == null)) {
                    menuSelected = true;
                    break;
                }
            }

            console.log('menuId: ' + menuId + ', sin SubMenuId: ' + menuSelected);

            return menuSelected;
        }

        function validSubMenuAsigned(subMenuId) {
            var asigned = false;

            for (z = 0; z < listPermisionsAsigned.length; z++) {
                if (subMenuId == listPermisionsAsigned[z].SubMenuId) {
                    asigned = true;
                    break;
                }
            }

            return asigned;
        }

        function changeAllMenu(menuId) {

            var checked = $("#chkMenu" + menuId).prop("checked");

            for (i = 0; i < listMenu.length; i++) {

                if (listMenu[i].Id == menuId && listMenu[i].Options != null) {
                    for (j = 0; j < listMenu[i].Options.length; j++) {
                        $("#chkSubmenu" + menuId + "_" + listMenu[i].Options[j].Id).prop("checked", checked);
                    }
                }
            }

        }

        function getPermissions() {

            var arrPermissions = [];

            $.each(listMenu, function (index, value) {
                if (value.Options != null && value.Options.length > 0) {
                    for (j = 0; j < listMenu[index].Options.length; j++) {

                        if ($("#chkSubmenu" + listMenu[index].Id + "_" + listMenu[index].Options[j].Id).prop("checked")) {

                            arrPermissions.push({
                                MenuId: listMenu[index].Id,
                                SubMenuId: listMenu[index].Options[j].Id
                            });

                        }
                    }
                }
                else {

                    console.log("menuId: " + listMenu[index].Id + ', checked: ' +  $("#menu" + listMenu[index].Id).prop("checked"));

                    //Valido si la opcion de Menu que NO tiene SubMenu tiene la opción Todos seleccionada
                    if($("#chkMenu" + listMenu[index].Id).prop("checked")){
                        arrPermissions.push({
                            MenuId: listMenu[index].Id,
                            SubMenuId: 0
                        });
                    }
                }

            });

            console.log('arrPermissions', arrPermissions);
            return JSON.stringify(arrPermissions);
        }

        function reloadPage() {
            location.href = "@Url.Action("AddUser","ExternalUsers")";
        }

        function showModalSave() {
            $("#ModalSave").modal('show');
        }

        function confirmActive(accion) { 

            if (accion == 2)  $('span.accion-title').text('Describa el motivo de la activación');
            else  $('span.accion-title').text('Describa el motivo de la inactivación');
        }

        function HideModalSave() {
            $("#ModalSave").modal('hide');
        }
    </script>
}
