@model Gosocket.Dian.Web.Models.FreeBiller.UserFreeBillerModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Creación de Usuarios";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var columnSize = 3;

}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
}

<style>
    .form-control {
        border-radius: 4px;
        height: 43px !important;
        border: 1px solid #CCCCCC;
    }

    .btn-default {
        border-radius: 4px;
        height: 43px !important;
        padding-top: 12px;
        padding-left: 0px !important;
    }

    .title-container {
        margin-bottom: 50px !important;
        margin-top: 30px !important;
    }

    .select-container {
        padding-left: 10px !important;
    }

    .submit-container {
        margin-top: 8px;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .bootstrap-select button {
        padding-left: 10px !important;
    }
</style>

<div class="page-content margin-15">

    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>


    <div class="row margin-horizontal-0">
        <div class="tab-base">
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div id="divMain" class="panel">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm padding-bottom-0">
                                <div class="row margin-horizontal-0">
                                    @using (Html.BeginForm("CreateUser", "FreeBiller", FormMethod.Post, new { id = "create-user-form" }))
                                    {
                                        <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                            <div class="col-md-12 padding-horizontal-0">
                                                <div id="document-list" class="panel panel-bordered-dian">

                                                    <div class="panel-body padding-20 padding-bottom-0">
                                                        <div class="row">
                                                            <div class="col-sm-@columnSize padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.TypeDocId, new { @class = "control-label" })
                                                                    @Html.DropDownListFor(m => m.TypeDocId, Model.TypesDoc, new { @class = "form-control selectpicker" })
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.NumberDoc, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.NumberDoc, new { @class = "form-control" })
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.ProfileId, new { @class = "control-label" })
                                                                    @Html.DropDownListFor(m => m.ProfileId, Model.Profiles, new { @class = "form-control selectpicker" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 padding-xs-0">
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel-footer-grey text-right submit-container">
                                                        <button id="btnCancel" class="btn btn-success btn-radian-default">Cancelar</button>
                                                        <button id="btnSend" class="btn btn-success btn-radian-success">Crear Usuario</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div>
                                <h3 class="panel-title-radian padding-0 margin-top-0">Permisos</h3>
                                <hr class="margin-0 margin-bottom-10" />
                            </div>
                            <div class="row checks-group">
                                @foreach (var menuMain in Model.MenuOptionsByProfile)
                                {
                                    if (menuMain.MenuLevel == 1 && menuMain.Children.Count > 0)
                                    {
                                        <div class="col-sm-3">
                                            <div class="level-1">
                                                <div>
                                                    <spam class="titleMenu">@menuMain.Name</spam>
                                                </div>
                                                @foreach (var subMenuItems in menuMain.Children)
                                                {
                                                    if (subMenuItems.MenuLevel == 2)
                                                    {
                                                        <div class="level-2">
                                                            <div>
                                                                <span class="subTitleMenu">@subMenuItems.Name</span>
                                                            </div>
                                                            @foreach (var subSubMenuItems in subMenuItems.Children)
                                                            {
                                                                <div class="level-3">
                                                                    <div class="row-cols-1">
                                                                        <div class="form-group d-flex margin-0">
                                                                            <input type="checkbox" id="@subSubMenuItems.Id" name="ValuesSelected" value="@menuMain.Id,@subMenuItems.Id,@subSubMenuItems.Id" disabled />
                                                                            <label class="label-check">@subSubMenuItems.Name</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="level-3">
                                                            <div class="row-cols-1">
                                                                <div class="form-group d-flex margin-0">
                                                                    <input type="checkbox" id="@subMenuItems.Id" name="ValuesSelected" value="@menuMain.Id,@subMenuItems.Id" disabled />
                                                                    <label class="label-check">@subMenuItems.Name</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>
    <script src="~/Content/js/Radian/RadianIndex.js"></script>
    <script src="~/Content/js/FreeBiller/FreeBiller.js"></script>

    <script>
        $(document).ready(function () {
            var urlNewUser = "@Url.Action("FreeBillerUser")";


            $("#btnSend").click(function (e) {
                e.preventDefault();
                var form = $("#create-user-form")
                var data = {
                    FullName: $('[name=FullName]').val(),
                    TypeDocId: $('[name=TypeDocId]').val(),
                    NumberDoc: $('[name=NumberDoc]').val(),
                    Email: $('[name=Email]').val(),
                    ProfileId: $('[name=ProfileId]').val(),
                }
                var url = '@Url.Action("CreateUser", "FreeBiller")';
                var actionError = (error) => {
                    console.log(error);
                }
                var actionSuccess = (success) => {
                    var confirmMessage = success.Message;
                    var operationCancel = () => {
                        if (success.RedirectTo) {
                            window.location.href = success.RedirectTo;
                        }
                    }
                    var buttons = AlertExec(operationCancel);
                    var clName = (success.Code == 200) ? "cancel-confirmation" : null;
                    showConfirmation(confirmMessage, buttons, clName, operationCancel)
                }
                createUser(url, 'POST', data, actionError, actionSuccess)

            })
            $("#ProfileId").change(function () {
                $("input:checkbox:checked").prop("checked",false)
                var idProfile = $(this).val();
                var url = '@Url.Action("GetIdsByProfile", "FreeBiller")';
                var dataAjax = {
                    profileId: idProfile
                }
                var errorAction = (error) => {
                    console.log(error);
                }
                var successAction = (result) => {
                    result.forEach(function (id) {
                        $("input#" + id).prop("checked", "checked");
                    });
                }
                ajaxFunction(url, "POST", dataAjax, errorAction, successAction);
            });
            $("#btnCancel").click(function () {
                window.location.href = urlNewUser;
            });

        });
    </script>

}



