@model Gosocket.Dian.Web.Models.FreeBiller.UserFreeBillerModel
@{

    ViewBag.Title = "Modificar Registro";

}

<style>
    .form-control {
        border-radius: 4px;
        height: 43px !important;
        border: 1px solid #CCCCCC;
    }

    .btn-default {
        border-radius: 4px;
        height: 43px !important;
        padding-top: 12px;
        padding-left: 0px !important;
    }

    .title-container {
        margin-bottom: 50px !important;
        margin-top: 30px !important;
    }

    .select-container {
        padding-left: 10px !important;
    }

    .submit-container {
        margin-top: 8px;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .bootstrap-select button {
        padding-left: 10px !important;
    }
</style>

<div class="page-content margin-15">

    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>


    <div class="row margin-horizontal-0">
        <div class="tab-base">
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div id="divMain" class="panel">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm padding-bottom-0">
                                <div class="row margin-horizontal-0">
                                    @using (Html.BeginForm("CreateUser", "FreeBiller", FormMethod.Post, new { id = "create-user-form" }))
                                    {
                                        <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                            <div class="col-md-12 padding-horizontal-0">
                                                <div id="document-list" class="panel panel-bordered-dian">

                                                    <div class="panel-body padding-20 padding-bottom-0">
                                                        <div class="row">
                                                            <div class="col-sm-@columnSize padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.TypeDocId, new { @class = "control-label" })
                                                                    @Html.DropDownListFor(m => m.TypeDocId, Model.TypesDoc, new { @class = "form-control selectpicker" })
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.NumberDoc, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.NumberDoc, new { @class = "form-control" })
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.ProfileId, new { @class = "control-label" })
                                                                    @Html.DropDownListFor(m => m.ProfileId, Model.Profiles, new { @class = "form-control selectpicker" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 padding-xs-0">
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel-footer-grey text-right submit-container">
                                                        <button id="btnCancel" class="btn btn-success btn-radian-default">Cancelar</button>
                                                        <button id="btnSend" class="btn btn-success btn-radian-success">Crear Usuario</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div>
                                <h3 class="panel-title-radian padding-0 margin-top-0">Permisos</h3>
                                <hr class="margin-0 margin-bottom-10" />
                            </div>
                            <div class="row checks-group">
                                @foreach (var menuMain in Model.MenuOptionsByProfile)
                                {
                                    if (menuMain.MenuLevel == 1 && menuMain.Children.Count > 0)
                                    {
                                        <div class="col-sm-3">
                                            <div class="level-1">
                                                <div>
                                                    <spam class="titleMenu">@menuMain.Name</spam>
                                                </div>
                                                @foreach (var subMenuItems in menuMain.Children)
                                                {
                                                    if (subMenuItems.MenuLevel == 2)
                                                    {
                                                        <div class="level-2">
                                                            <div>
                                                                <span class="subTitleMenu">@subMenuItems.Name</span>
                                                            </div>
                                                            @foreach (var subSubMenuItems in subMenuItems.Children)
                                                            {
                                                                <div class="level-3">
                                                                    <div class="row-cols-1">
                                                                        <div class="form-group d-flex margin-0">
                                                                            <input type="checkbox" id="@subSubMenuItems.Id" name="ValuesSelected" value="@menuMain.Id,@subMenuItems.Id,@subSubMenuItems.Id" disabled />
                                                                            <label class="label-check">@subSubMenuItems.Name</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="level-3">
                                                            <div class="row-cols-1">
                                                                <div class="form-group d-flex margin-0">
                                                                    <input type="checkbox" id="@subMenuItems.Id" name="ValuesSelected" value="@menuMain.Id,@subMenuItems.Id" disabled />
                                                                    <label class="label-check">@subMenuItems.Name</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
        $(document).ready(function () {
        $("input:checkbox:checked").attr("checked", true);
        if (@ViewBag.valor= true) {
            if (@ViewBag.valor= 1) {
                document.getElementById("FacturaVenta").checked = true;
            }
            if (@ViewBag.valor= 2) {
                document.getElementById("FacturaContingencia").checked = true;
            }
             if (@ViewBag.valor= 3) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 4) {
                 document.getElementById("NotaCredito").checked = true;
            }
             if (@ViewBag.valor= 5) {
                 document.getElementById("NotaDebito").checked = true;
            }
             if (@ViewBag.valor= 6) {
                 document.getElementById("FacturaMandato").checked = true;
            }
             if (@ViewBag.valor= 7) {
                 document.getElementById("FacturaAIU").checked = true;
            }
             if (@ViewBag.valor= 8) {
                 document.getElementById("FacturaExportacion").checked = true;
            }
             if (@ViewBag.valor= 9) {
                 document.getElementById("DocumentoSoporte").checked = true;
            }
             if (@ViewBag.valor= 10) {
                 document.getElementById("Seguridad").checked = true;
            }
             if (@ViewBag.valor= 11) {
                 document.getElementById("CertificadosDigitales").checked = true;
            }
             if (@ViewBag.valor= 12) {
                 document.getElementById("Administrar").checked = true;
            }
             if (@ViewBag.valor= 13) {
                 document.getElementById("clientes").checked = true;
            }
             if (@ViewBag.valor= 14) {
                 document.getElementById("RangosNum").checked = true;
            }
             if (@ViewBag.valor= 15) {
                 document.getElementById("Productos").checked = true;
            }
             if (@ViewBag.valor= 16) {
                 document.getElementById("NuevaPlantilla").checked = true;
            }
             if (@ViewBag.valor= 17) {
                 document.getElementById("FacturaExportacion").checked = true;
            }
             if (@ViewBag.valor= 18) {
                 document.getElementById("AdminPlantillas").checked = true;
            }
             if (@ViewBag.valor= 19) {
                 document.getElementById("EmitirPlantillas").checked = true;
            }
             if (@ViewBag.valor= 20) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 21) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 22) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 23) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 24) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 25) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 26) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 27) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 28) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 29) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 30) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 31) {
                document.getElementById("FacturaVenta").checked = true;
            }
             if (@ViewBag.valor= 32) {
                document.getElementById("FacturaVenta").checked = true;
            }
            console.log("Ok¡¡");
        }
        else {
            console.log("No Ok¡¡");
        }
    });
    </script>


}