@model Gosocket.Dian.Web.Models.FreeBiller.UserFreeBillerModel
@{

    ViewBag.Title = "Modificar Registro";

}
@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
}
<style>
    .form-control {
        border-radius: 4px;
        height: 43px !important;
        border: 1px solid #CCCCCC;
    }

    .btn-default {
        border-radius: 4px;
        height: 43px !important;
        padding-top: 12px;
        padding-left: 0px !important;
    }

    .title-container {
        margin-bottom: 50px !important;
        margin-top: 30px !important;
    }

    .select-container {
        padding-left: 10px !important;
    }

    .submit-container {
        margin-top: 8px;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .bootstrap-select button {
        padding-left: 10px !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-content margin-15">
        <div class="row margin-horizontal-0">
            <div class="tab-base">
                <!--Tabs Content-->
                <div class="tab-content padding-0">
                    <div id="tab-current-country" class="tab-pane fade active in">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">@ViewBag.Title</h3>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="tab-base">
            <!--Tabs Content-->
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div class="panel">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm padding-bottom-0">
                                <div class="row margin-horizontal-0">
                                    <div class="form-group">
                                        <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                            <div class="col-md-12 padding-horizontal-0">
                                                <div id="document-list" class="panel panel-bordered-dian">

                                                    <div class="panel-body padding-20 padding-bottom-0">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.Id)
                                                        @*<div class="col-md-3 padding-xs-0">
            <div class="form-group">


                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-md-3 padding-xs-0">
            <div class="form-group">

                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

            </div>
        </div>*@
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.TypeDocId, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @*@Html.EditorFor(model => model.TypeDocId, new { htmlAttributes = new { @class = "form-control" } })*@

                                                                @Html.DropDownListFor(model => model.TypeDocId, (List<SelectListItem>
                                                                )ViewBag.tdocs, new { @class = "form-control selectpicker" })
                                                                @Html.ValidationMessageFor(model => model.TypeDocId, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.NumberDoc, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @Html.EditorFor(model => model.NumberDoc, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.NumberDoc, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password" } })
                                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                        @*<div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2", @type = "password" })

                                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>*@
                                                        <div class="col-md-3 padding-xs-0">
                                                            <div class="form-group">

                                                                @Html.LabelFor(model => model.ProfileId, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                @*@Html.EditorFor(model => model.ProfileId, new { htmlAttributes = new { @class = "form-control selectpicker" } })*@
                                                                @Html.DropDownListFor(model => model.ProfileId, Model.Profiles, new { @class = "form-control selectpicker" })
                                                                @Html.ValidationMessageFor(model => model.ProfileId, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-footer-grey text-right submit-container">
                                                        <input type="submit" value="Eliminar Usuario" class="btn btn-radian-default" />
                                                        <input type="submit" value="Guardar" class="btn btn-success btn-radian-success" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content margin-15">
        <div class="row margin-horizontal-0">
            <div class="tab-base">
                <!--Tabs Content-->
                <div class="tab-content padding-0">
                    <div id="tab-current-country" class="tab-pane fade active in">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Permisos</h3>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row margin-vertical-0">
        <div class="tab-base">
            <!--Tabs Content-->
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div class="panel">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm padding-bottom-0">
                                <div class="margin-vertical-0">
                                  
                                    <div class="margin-vertical-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                        <div class="col-md-2">
                                            <h3 class="panel-title">Facturación</h3>
                                            <!-- Default checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckDefault" />
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Factura de Venta
                                                </label>
                                            </div>

                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Factura de Contingencia
                                                </label>
                                            </div>

                                            <!-- Default checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckDefault" />
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Nota Credito
                                                </label>
                                            </div>

                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Nota Debito
                                                </label>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Factura de Mandato
                                                </label>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Factura AIU
                                                </label>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Factura de Exportación
                                                </label>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Documento de Soporte
                                                </label>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       value=""
                                                       id="flexCheckChecked"
                                                       checked />
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Documento de Soporte
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h3 class="panel-title">Configuración</h3>
                                            <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Seguridad
                                                    </label>
                                                </div>

                                                <!-- Checked checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckChecked"
                                                           checked />
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        Certificados Digitales
                                                    </label>
                                                </div>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Administrar
                                                    </label>
                                                </div>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Clientes - Adquirientes
                                                    </label>
                                                </div>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Rangos de numeración
                                                    </label>
                                                </div>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Productos
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                       
                                        <div class="col-md-2">
                                            <h3 class="panel-title">Plantillas</h3>
                                            <div class="d-flex align-items-end bg-light mb-3" style="height: 100px;">
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                       Nueva Plantilla
                                                    </label>
                                                </div>

                                                <!-- Checked checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckChecked"
                                                           checked />
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                       Factura de Venta
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="d-flex align-items-end bg-light mb-3" style="height: 100px;">
                                                <h3 class="panel-title">Documentos</h3>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                      Factura de Exportación
                                                    </label>
                                                </div>

                                                <!-- Checked checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckChecked"
                                                           checked />
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                      Factura de Contingencia
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="d-flex align-items-end bg-light mb-3" style="height: 100px;">
                                                <h3 class="panel-title">Operaciones</h3>
                                                <!-- Default checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Administrar Plantillas
                                                    </label>
                                                </div>

                                                <!-- Checked checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           value=""
                                                           id="flexCheckChecked"
                                                           checked />
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        Usar/Emitir Plantillas
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                       

                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>

     <div class="col-md-offset-2 col-md-10" style="text-align:right">*@
