
@{
    ViewBag.Title = "Modo de operación";
}
@Html.Hidden("RedirectToEnablingInvoiceDirect", Url.Action("Index", "RadianEnablingInvoiceDirect"))
@Html.Hidden("RedirectToEnablingInvoiceIndirect", Url.Action("Index", "RadianEnablingInvoiceIndirect"))
<link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />


<div style="text-align:left; margin-left:25px; margin-top:20px; ">
    <p style="height: 34px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 30px; line-height: 34px; color: #000000; ">
        Modo de operación
    </p>
    <svg width="198" height="3" viewBox="0 0 198 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="198" height="3" rx="1.5" fill="#62C7AB" />
    </svg>
</div>

<div class="container-fluid RadianContainerBegin">

    <p class="RadianTextSelected">Seleccione el modo de operación en el Registro de Facturas Electronicas :</p>
    <svg width="100%" height="2" viewBox="0 0 1110 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1C0 0.447715 0.447715 0 1 0H1109C1109.55 0 1110 0.447715 1110 1C1110 1.55228 1109.55 2 1109 2H1.00003C0.447741 2 0 1.55228 0 1Z" fill="#E9E8E8" />
    </svg>
    <div class="row-fluid">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="direct" class="card RadianCardContainer">
                <img class="RadianimgSvg" src="~/Content/images/Svg/OperacionDirecta.svg" />
                <div class="card-body">
                    <p class="RadianTittleCard">Operación Directa</p>
                    <p class="RadianTittleCard2">Software Propio</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar  la trasmisión de eventos en RADIAN como Facturador Electrónico?" />
                <input type="hidden" class="ConfirmReject" value="El participante no cuenta con un software propio activo en el sistema" />
                <input type="hidden" class="ConfirmUserExisting" value="El participante ya se encuentra registrado en RADIAN." />
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="indirect" class="card RadianCardContainer">
                <img class="RadianimgSvg" src="~/Content/images/Svg/OperacionIndirecta.svg" />
                <div class="card-body">
                    <p class="RadianTittleCard">Operación Indirecta</p>
                    <p class="RadianTittleCard2">A través de un aliado</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar  la trasmisión de eventos al RADIAN como Facturador Electrónico?" />
                <input type="hidden" class="ConfirmUserExisting" value="El participante ya se encuentra registrado en RADIAN." />
            </div>
        </div>

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/Radian/RadianIndex.js"></script>

    <script>

        var withSoft = '@ViewBag.WithSoft';
        var existInRadian = '@ViewBag.ExistInRadian';
        var contributorId = '@ViewBag.ContributorId';

        $('.RadianCardContainer').click(function () {
            var direct = $(this).attr('id') == "direct";
            var findLabel = direct ? GetDirectLabelMessage(withSoft, existInRadian) : GetIndirectLabelMessage(existInRadian);
            var message = $(this).children(findLabel).val()
            if (message != undefined) {
                var buttons = {};
                if (direct) {
                    buttons = (withSoft == "True" && !existInRadian.includes("1")) ? ConfirmExec(EnablingInvoiceDirect) : AlertExec();
                }
                else {
                    buttons = (!existInRadian.includes("1")) ? ConfirmExec(EnablingInvoiceIndirect) : AlertExec();
                }
                showConfirmation(message, buttons);
            }
        });

        function GetDirectLabelMessage(withSoft, existInRadian) {
            return (withSoft == "True" && !existInRadian.includes("1")) ? ".ConfirmMessage" :  (existInRadian == 'False') ? ".ConfirmReject" : ".ConfirmUserExisting";
        }

        function GetIndirectLabelMessage(existInRadian) {
            return (!existInRadian.includes("1")) ? ".ConfirmMessage" : ".ConfirmUserExisting";
        }

    function EnablingInvoiceDirect() {
        var url = $("#RedirectToEnablingInvoiceDirect").val() + "?ContributorId=" + contributorId;
        window.location.href = url;
    }

    function EnablingInvoiceIndirect() {
        var contributorId = '@ViewBag.ContributorId';
        var url = $("#RedirectToEnablingInvoiceIndirect").val() + "?ContributorId=" + contributorId;
        window.location.href = url;
    }

    </script>
}

