@using Gosocket.Dian.Web.Utils;
@model Gosocket.Dian.Web.Models.RadianTestSetViewModel

@{
    /**/

    ViewBag.Title = "Agregar Set de Pruebas";
}

<div class="page-content margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.Title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
           

            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("Add", "RadianTestSet", FormMethod.Post, new { id = "add-testset-form" }))
                        {
                            @Html.Partial("_form")
                            <div class="panel-footer text-right">
                                <a href="@Url.Action("Index", "RadianTestSet")" class="btn btn-default btn-radian-default">Volver</a>
                                <button type="submit" class="btn btn-success btn-radian-success">Guardar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        @if (ViewBag.ErrorMessage != null)
        {
            <text>
            $.niftyNoty({
                type: "danger",
                container: 'page',
                message: "@ViewBag.ErrorMessage",
                timer: 5000
            });
            </text>
        }
        $(document).ready(function ($) {
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901
            });
            $('#TotalDocumentRequired').attr('readonly', true);


            $("#ReceiptNoticeTotalRequired").change(function () {
                var noticeTotal = parseInt($("#ReceiptNoticeTotalRequired").val());
                if (noticeTotal < 0) {
                    showErrorMessage(0);
                    $("#ReceiptNoticeTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#ReceiptServiceTotalRequired").change(function () {
                var receiptServiceTotal = parseInt($("#ReceiptServiceTotalRequired").val());
                if (receiptServiceTotal < 0) {
                    showErrorMessage(0);
                    $("#ReceiptServiceTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#ExpressAcceptanceTotalRequired").change(function () {
                var expressAcceptanceTotal = parseInt($("#ExpressAcceptanceTotalRequired").val());
                if (expressAcceptanceTotal < 0) {
                    showErrorMessage(0);
                    $("#ExpressAcceptanceTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#AutomaticAcceptanceTotalRequired").change(function () {
                var automaticAcceptanceTotal = parseInt($("#AutomaticAcceptanceTotalRequired").val());
                if (automaticAcceptanceTotal < 0) {
                    showErrorMessage(0);
                    $("#AutomaticAcceptanceTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#RejectInvoiceTotalRequired").change(function () {
                var rejectInvoiceTotal = parseInt($("#RejectInvoiceTotalRequired").val());
                if (rejectInvoiceTotal < 0) {
                    showErrorMessage(0);
                    $("#RejectInvoiceTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#ApplicationAvailableTotalRequired").change(function () {
                var appAvailableTotal = parseInt($("#ApplicationAvailableTotalRequired").val());
                if (appAvailableTotal < 0) {
                    showErrorMessage(0);
                    $("#ApplicationAvailableTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#EndorsementTotalRequired").change(function () {
                var endorsementTotal = parseInt($("#EndorsementTotalRequired").val());
                if (endorsementTotal < 0) {
                    showErrorMessage(0);
                    $("#EndorsementTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#EndorsementCancellationTotalRequired").change(function () {
                var endorsementcancelTotal = parseInt($("#EndorsementCancellationTotalRequired").val());
                if (endorsementcancelTotal < 0) {
                    showErrorMessage(0);
                    $("#EndorsementCancellationTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#GuaranteeTotalRequired").change(function () {
                var garanteeTotal = parseInt($("#GuaranteeTotalRequired").val());
                if (garanteeTotal < 0) {
                    showErrorMessage(0);
                    $("#GuaranteeTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#EndMandateTotalRequired").change(function () {
                var endMandateTotal = parseInt($("#EndMandateTotalRequired").val());
                if (endMandateTotal < 0) {
                    showErrorMessage(0);
                    $("#EndMandateTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#ElectronicMandateTotalRequired").change(function () {
                var electronicMandateTotal = parseInt($("#ElectronicMandateTotalRequired").val());
                if (electronicMandateTotal < 0) {
                    showErrorMessage(0);
                    $("#ElectronicMandateTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#PaymentNotificationTotalRequired").change(function () {
                var paymentNotificationTotal = parseInt($("#PaymentNotificationTotalRequired").val());
                if (paymentNotificationTotal < 0) {
                    showErrorMessage(0);
                    $("#PaymentNotificationTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#CirculationLimitationTotalRequired").change(function () {
                var circulationNotificationTotal = parseInt($("#CirculationLimitationTotalRequired").val());
                if (circulationNotificationTotal < 0) {
                    showErrorMessage(0);
                    $("#CirculationLimitationTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });
            $("#EndCirculationLimitationTotalRequired").change(function () {
                var endcirculationNotificationTotal = parseInt($("#EndCirculationLimitationTotalRequired").val());
                if (endcirculationNotificationTotal < 0) {
                    showErrorMessage(0);
                    $("#EndCirculationLimitationTotalRequired").val(0);
                }
                else {
                    updateTotal();
                }
            });

            $('#TotalDocumentAcceptedRequired').attr('readonly', true);
            $("#ReceiptNoticeTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#ReceiptServiceTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#ExpressAcceptanceTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#AutomaticAcceptanceTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#RejectInvoiceTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#ApplicationAvailableTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#EndorsementTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#EndorsementCancellationTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#GuaranteeTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#EndMandateTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#ElectronicMandateTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#PaymentNotificationTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#CirculationLimitationTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });
            $("#EndCirculationLimitationTotalAcceptedRequired").change(function () {
                    updateTotalRequired();
            });

            if ('@ViewBag.ErrorExistsTestSet' == 'True') {
                showNotification('warning', 'fa fa-check fa-2x', 'floating', 'Aviso.', 'Ya se encuentra registrado un set de pruebas para este modo de operación.');
            }
            $('.btn-save').click(function () {
                var form = $('#add-testset-form');
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

        function updateTotal() {
            var noticeTotal = parseInt($("#ReceiptNoticeTotalRequired").val());
            var receiptServiceTotal = parseInt($("#ReceiptServiceTotalRequired").val());
            var expressAcceptanceTotal = parseInt($("#ExpressAcceptanceTotalRequired").val());
            var automaticAcceptanceTotal = parseInt($("#AutomaticAcceptanceTotalRequired").val());
            var rejectInvoiceTotal = parseInt($("#RejectInvoiceTotalRequired").val());
            var appAvailableTotal = parseInt($("#ApplicationAvailableTotalRequired").val());
            var endorsementTotal = parseInt($("#EndorsementTotalRequired").val());
            var endorsementCancelTotal = parseInt($("#EndorsementCancellationTotalRequired").val());
            var garanteeTotal = parseInt($("#GuaranteeTotalRequired").val());
            var electronicMandateTotal = parseInt($("#EndMandateTotalRequired").val());
            var endMandateTotal = parseInt($("#ElectronicMandateTotalRequired").val());
            var paymentNotificationTotal = parseInt($("#PaymentNotificationTotalRequired").val());
            var circulationNotificationTotal = parseInt($("#CirculationLimitationTotalRequired").val());
            var endcirculationNotificationTotal = parseInt($("#EndCirculationLimitationTotalRequired").val());

            $("#TotalDocumentRequired").val(noticeTotal + receiptServiceTotal + expressAcceptanceTotal + automaticAcceptanceTotal
                + rejectInvoiceTotal + appAvailableTotal + endorsementTotal + endorsementCancelTotal + garanteeTotal +
                electronicMandateTotal + endMandateTotal + paymentNotificationTotal + circulationNotificationTotal +
                endcirculationNotificationTotal);

        }

        function updateTotalRequired() {
            var noticeTotal0 = parseInt($("#ReceiptNoticeTotalAcceptedRequired").val());
            var receiptServiceTotal0 = parseInt($("#ReceiptServiceTotalAcceptedRequired").val());
            var expressAcceptanceTotal0 = parseInt($("#ExpressAcceptanceTotalAcceptedRequired").val());
            var automaticAcceptanceTotal0 = parseInt($("#AutomaticAcceptanceTotalAcceptedRequired").val());
            var rejectInvoiceTotal0 = parseInt($("#RejectInvoiceTotalAcceptedRequired").val());
            var appAvailableTotal0 = parseInt($("#ApplicationAvailableTotalAcceptedRequired").val());
            var endorsementTotal0 = parseInt($("#EndorsementTotalAcceptedRequired").val());
            var endorsementCancelTotal0 = parseInt($("#EndorsementCancellationTotalAcceptedRequired").val());
            var garanteeTotal0 = parseInt($("#GuaranteeTotalAcceptedRequired").val());
            var electronicMandateTotal0 = parseInt($("#EndMandateTotalAcceptedRequired").val());
            var endMandateTotal0 = parseInt($("#ElectronicMandateTotalAcceptedRequired").val());
            var paymentNotificationTotal0 = parseInt($("#PaymentNotificationTotalAcceptedRequired").val());
            var circulationNotificationTotal0 = parseInt($("#CirculationLimitationTotalAcceptedRequired").val());
            var endcirculationNotificationTotal0 = parseInt($("#EndCirculationLimitationTotalAcceptedRequired").val());

            $("#TotalDocumentAcceptedRequired").val(noticeTotal0 + receiptServiceTotal0 + expressAcceptanceTotal0 + automaticAcceptanceTotal0
                + rejectInvoiceTotal0 + appAvailableTotal0 + endorsementTotal0 + endorsementCancelTotal0 + garanteeTotal0 +
                electronicMandateTotal0 + endMandateTotal0 + paymentNotificationTotal0 + circulationNotificationTotal0 +
                endcirculationNotificationTotal0);
        }

        function showErrorMessage(total) {
            showNotification('warning', 'fa fa-check fa-2x', 'floating', 'Aviso.', 'El valor no puede ser inferior a '+total);
        }
    </script>
}
