@model Gosocket.Dian.Web.Models.OthersElectronicDocAssociatedViewModel
@{
    ViewBag.Title = "Datos";
}
<div class="row radian-subtitle-container" style="margin:12px;">
    <p class="subtitle-view">
        @ViewBag.title
    </p>
    <div class="radian-subtitle-line" style="width: 98%;"></div>
</div>
<div class="row radian-personal-info"  style="margin:12px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Nit, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Nit, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(m => m.BusinessName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
            </div>
        </div>

    </div>
    @if (Model.Step == 3 )
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.ContributorType, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ContributorType, new { @class = "form-control contributorFileType-props input-general", disabled = "disabled" })
                </div>
            </div>
        </div>
    }
</div>

