@model Gosocket.Dian.Web.Models.OthersElectronicDocAssociatedViewModel
@using Newtonsoft.Json;
@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control input-general" }, { "readonly", "true" } };}
@{
    ViewBag.title = "Detalle del SET de pruebas " + ViewBag.EquivalentElectronicDocumentName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? equivalentDocumentId = ViewBag?.EquivalentDocumentId;
}


@section css
{
    <style type="text/css">
        .setTestODE {
            padding: 0px 20px 20px 30px;
            box-sizing: border-box;
            border-radius: 0px 5px 0px 0px;
            margin-top: 20px;
        }

        hr {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            border: 1px !important;
            border-top: 2px solid #E9E8E8 !important;
        }

        label {
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            width: 100% !important;
        }
    </style>
}



<div class="page-content radian-view margin-20  margin-page-content">
    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
        <div class="back-button"><a href="@Url.Action("Index", new { Id = ViewBag.Id })"><i class="fa fa-chevron-left"></i> Volver</a></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">

            <div class="panel-body padding-top-20">
                <div class="row warning-wrapper">
                    <div class="col-sm-1 icon-warning">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="col-sm-11">
                        <span class="warning-title">¡Importante!</span>
                        <p>
                            Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuenta <b>@(Model.Software.OtherDocElecSoftwareStatusName)</b>.<br>
                            Usted debe proporcinar el identificador del set de pruebas (TestSetld) <b>@(ViewBag.TestSetId)</b> en el web service  para el envío de su set de pruebas.
                        </p>
                    </div>
                </div>
                @*@if (Model.Software.OtherDocElecSoftwareStatusName == "Rechazado")
                {
                    <div>
                        <button onclick="restartCountersTest('@Url.Action("RestartSetTestResult")', @JsonConvert.SerializeObject(Model.GTestSetOthersDocumentsResult), '@Model.Software.Id')" class="btn btn-radian-success margin-top-15">Reiniciar set de pruebas</button>
                    </div>
                }
                else
                {
                    <div>
                        <button onclick="restartCountersTest('@Url.Action("RestartSetTestResult")', @JsonConvert.SerializeObject(Model.GTestSetOthersDocumentsResult), '@Model.Software.Id')" class="btn btn-radian-success margin-top-15 disabled">Reiniciar set de pruebas</button>
                    </div>
                }*@
                <div class="row margin-horizontal-0 margin-top-20">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">

                        @using (Html.BeginForm("SetTestDetails", "OthersElectronicDocAssociated", FormMethod.Post))
                        {
                            <div class="setTestODE">
                                @Html.HiddenFor(m => m.Id)
                                @Html.Hidden("equivalentElectronicDocumentId", equivalentDocumentId)
                                @Html.Partial("_setTestResult")
                            </div>
                            <div class="panel-footer text-right">
                                <button type="submit" class="btn btn-success btn-radian-success">Gráfico</button>
                                @Html.ActionLink("Cerrar", "Index", "OthersElectronicDocAssociated", new { Id = ViewBag.Id }, new { @class = "btn btn-success btn-radian-success" })
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/js/Radian/RadianIndex.js"></script>
    <script src="~/Content/js/Radian/constants.js"></script>

    <script type="text/javascript">
        function restartCountersTest(url, testResult, docElecSoftwareId) {
            //console.log(testResult);
            var confirmMessage = bootboxMessage.CONFIRMATION_RESTART;
            var complement = bootboxMessage.CONFIRMATION_RESTART_COMPLEMENT;
            var operation = () => {
                var actionError = (error) => {
                    window.location.reload();
                }
                var actionSuccess = (result) => {
                    window.location.reload();
                }
                var data = {
                    model: testResult,
                    docElecSoftwareId: docElecSoftwareId
                }
                ajaxFunction(url, "POST", data, actionError, actionSuccess);
            }
            var buttons = ConfirmExec(operation)
            showConfirmationComplement(confirmMessage, buttons, null, null, complement);
        }
    </script>
}